---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>

	<style>
		p {
			margin-bottom: 0.5rem; /* Reduce space below paragraphs */
		}

		ul {
			margin-top: 0; /* Remove extra space above the list */
			margin-bottom: 1rem; /* Optional: Add consistent spacing below the list */
		}

		ul li {
			margin-bottom: 0.5rem; /* Add spacing between list items */
		}
	</style>

	<p>
		Hi, I'm Joaquin or Joaco, and this blog is about experimenting with AI tools. 
	</p>

	<p>
		I will be sharing my experiences, insights, and tips on how to effectively use AI in various applications and for diverse purposes. Some of the interests I will be covering include:
	</p>
	<ul>
		<li>AI in technical writing</li>
		<li>AI in image generation</li>
		<li>AI in vibe coding and no code tools</li>
		<li>AI in literature and creative writing, including translations and poetry</li>
	</ul>
	
	<p>
		My goal is to explore the potential of AI and how it can enhance our lives and work. I hope you find my blog informative and engaging, and I welcome your feedback and suggestions.
	</p>

	<p>
		Feel free to reach out to me via email at <a href="mailto:joaquin@devportals.tech">joaquin@devportals.tech</a>

	</p>

	<p>
		<b>Disclaimer note on using AI:</b> <br>
		I use AI as a thinking partner, not as an author. It helps me explore unconventional angles and challenge assumptions, while the responsibility for accuracy, structure, and intent remains fully mine.
	</p>
</Layout>
